@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Merriweather&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #917C78   ;
  --secondary-color: #FFF275 ;
  --accent1-color: #80C2AF;
  --accent2-color: #1E2D2F;

  /* change the values below to your chosen font(s) */
  --heading-font: "Libre+Baskerville";
  --paragraph-font: Merriweather, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #1E2D2F;  /* headlines on a white background */ 
  --headline-color-on-color: #FFF275; /* headlines on a colored background */ 
  --paragraph-color-on-white: #1E2D2F; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #FFF275; /* paragraph text on a colored background */ 
  --paragraph-background-color: #1E2D2F  ;
  --nav-link-color: #FFF275;
  --nav-background-color: #1E2D2F;
  --nav-hover-link-color: #1E2D2F;
  --nav-hover-background-color: #FFF275;
}

header {
    display: grid;
    grid-template-columns: auto 300px;
}
header h1 h2 {
    align-content: center;
}
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav .logo {
    width: 80px;
}
div .social {
    max-width: 40px;
    align-content: right;
}
.block1 {
    display: grid;
    grid-template-columns: 800px auto;
}
.block1 img{
    width: 400px 300px;
}