@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Merriweather&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #917C78   ;
  --secondary-color: #FFF275 ;
  --accent1-color: #80C2AF;
  --accent2-color: #1E2D2F;

  /* change the values below to your chosen font(s) */
  --heading-font: "Libre+Baskerville";
  --paragraph-font: Merriweather, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #1E2D2F;  /* headlines on a white background */ 
  --headline-color-on-color: #FFF275; /* headlines on a colored background */ 
  --paragraph-color-on-white: #1E2D2F; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #FFF275; /* paragraph text on a colored background */ 
  --paragraph-background-color: #1E2D2F  ;
  --nav-link-color: #FFF275;
  --nav-background-color: #1E2D2F;
  --nav-hover-link-color: #1E2D2F;
  --nav-hover-background-color: #FFF275;
}

body {
    background-color: var(--primary-color);
    width: auto;
    height: auto;
    margin: 3%;
    padding: 0;
    font-size: 22px;
}
header {
    background-color: var(--secondary-color);
    font-family: var(--heading-font);
    display: grid;
    grid-template-columns: 1fr 5fr 1fr  ;
    grid-template-rows: 1fr;
    max-height: 300px;
    justify-content: space-around;
}
header nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: space-around;
}
header nav .logo {
    width: 40px;
}
header nav a {
    margin-top: 70px;
    text-align: center;
    grid-template-columns: 1/3;
}
div .social {
    display: flex;
    max-width: 40px;
}
main {
    font-family: var(--paragraph-font);
}
.block1 h1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cascade {
    margin-left: 60px;
    grid-column: 1/2;
    width: 90%;
}
.fuji {
    margin-left: 110px;
    grid-column: 2/3;
    width: 50%;
}
.block2 h2 {
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.temple {
    grid-column-start: 2/3;
    width: 90%;
}
.block2 h2 p {
    margin-top: 50px;
    grid-column: 1/2;
    grid-row: 1/3;
    text-align: center;
}
.block3 h3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.shrine {
    grid-column: 1/2;
    width:90%;
}
.block3 h3 p{
    margin-top: 50px;
    grid-column: 2/3;
    grid-row: 1/3;
    text-align: center;
    align-content: space-around;
}
.block4 h4{
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tokyo{
    margin-left: 20px;
    grid-column: 2/3;
    width: 90%;
}
.block4 h4 p {
    margin-top:  90px;
    grid-column: 1/2;
    align-content: space-around;
    text-align: center;
}
footer{
    background-color: var(--secondary-color);
    margin-top: 3%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
}
footer a {
    font-family: var(--heading-font);
    margin-top: 5px;
    text-align: center;
    align-content: space-around;
}