@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Merriweather&display=swap');

:root {
  --primary-color: #917C78   ;
  --secondary-color: #FFF275 ;
  --accent1-color: #80C2AF;
  --accent2-color: #1E2D2F;

  --heading-font: "Libre+Baskerville";
  --paragraph-font: Merriweather, sans-serif;


  --headline-color-on-white: #1E2D2F;  
  --headline-color-on-color: #FFF275;
  --paragraph-color-on-white: #1E2D2F;
  --paragraph-color-on-color: #FFF275; 
  --paragraph-background-color: #1E2D2F  ;
  --nav-link-color: #FFF275;
  --nav-background-color: #1E2D2F;
  --nav-hover-link-color: #1E2D2F;
  --nav-hover-background-color: #FFF275;
}

body {
    background-color: var(--primary-color);
    width: auto;
    height: auto;
    margin: 3%;
    padding: 0;
    font-size: 22px;
}
header {
    background-color: var(--secondary-color);
    font-family: var(--heading-font);
    display: grid;
    grid-template-columns: 1fr 5fr 1fr  ;
    grid-template-rows: 1fr;
    max-height: 300px;
    justify-content: space-around;
}
header nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: space-around;
}
header nav .logo {
    width: 40px;
}
header nav a {
    margin-top: 70px;
    text-align: center;
    grid-template-columns: 1/3;
}
div .social {
    display: flex;
    max-width: 40px;
}
main {
    font-family: var(--paragraph-font);
}
.block1 h1 {
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.posas {
    grid-column: 1/2;
    width: 90%;
}
.block1 h1 p {
    grid-column: 2/3;
    text-align: center;
}
.block2 h2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.huasteca {
    grid-column: 2/3;
    width: 90%;
}
.block2 h2 p {
    grid-column:  1/2;
    text-align: center;
}
.block3 h3 {
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.diamuertos {
    grid-column: 2/3;
    width: 90%;
}
.block3 h3 p {
    grid-column: 1/2;
    text-align: center;
}
.block4 h4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tacos{
    grid-column: 1/2;
    width: 90%;
}
.block4 h4 p {
    margin-top: 20%;
    align-content: center;
    grid-column: 2/3;
    text-align: center;
}

footer{
    background-color: var(--secondary-color);
    font-family: var(--heading-font);
    margin-top: 3%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
}
footer a {
    margin-top: 5px;
    text-align: center;
    align-content: space-around;
}